{% extends "base.html" %}

{% block content %}
    <h1>List of users</h1>
    <table align="center" class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Date of employment</th>
        {% for user in list_users %}
        <tr>
            <td>{{user.id}}</td>
            <td id="name_{{user.id}}">{{user.name}}</td>
            <td id="salary{{user.id}}">{{user.salary}}</td>
            <td id="date_admit_{{user.id}}">{{user.date_admit}}</td>
        </tr>
        {% endfor %}
    </table><br/>
    <a href="{% url 'add_user' %}" class="btn btn-success">Add user</a>

{% endblock %}

